#container{
    display: grid;
    height: 960px;
    width: 960px;
    border: 2px solid red;
    margin: auto;
  }

  .box{
    border: 1px solid goldenrod;
  }

  .colour{
    background-color: #000;
  }

  .clear, .newGrid, .eraser{
    padding: 10px;
  }