#container{
    display: grid;
    height: 700px;
    width: 700px;
    border: 2px solid red;
    margin: auto;
  }

  .box{
    border: none;
  }

  .colour{
    background-color: #000;
  }

  .clear, .newGrid, .eraser, .rainbow, .black{
    padding: 10px;
  }

  .buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
  }